<div class = "description">
  Voyagers is built to help you perfect your vacation! </br>

  We can help you do this in two ways: </br>
  (1) Go around the global map to select a country to visit. YOu can then select from a list of fun cities and figure out which popular activities you'd like to do! </br>
  (2) Search for your desired country and/or city in the toolbar to quickly find the place you are traveling to. </br>
  </br>
  You can also contribute to everyone's searches by upvoting the best attractions at places you've visited!
  </br>
  Go forth and conquer! :)

</div>