

<div class = "center jumbotron">
  <h1> Select a country </h1>
</div>

Welcome to Voyager! This site is for helping individuals figure out where they should go and what they should do on their next vacation. Select a country below to see a list of cities you can visit.
<div class="list">
  <table>
    <tbody>
      <% @countries.each do |country| %>   
        <tr>
          <td> 
              <p><%= link_to country.name, country_path(country) %> </p> 
          </td>
          <td>
            <img src = <%= country.image%> style="width:200px">
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>