<div class = "center jumbotron">
  <h1> Select a country </h1>

<div class="list">
  <ol>
    <% @countries.each do |country| %>    
        <li><p><%= link_to country.name, country_path(country) %> </p> </li>
    <% end %>
  </ol>
</div>