<div class = "center jumbotron">
  <h1> List of attractions </h1>
</div>

<img src = <%= @city.image%> style="width:500px">

<% @city.attractions.each do |attraction| %>
  <h3> <%= attraction.name%> </h3> <br>
  <% end %>   

